.Chat__container {
  height: 88%;

  .Chat__contact-list--container {
    float: left;
    height: 88%;
    width: 15%;
    border-right: 1px solid #eee;
    position: absolute;
    overflow: auto;

    .Chat__contact-list--wrapper {
      .Chat__contact-list {
        list-style: none;
        padding: 0;
        margin: 0 60px 0 0;
        width: 100%;
        height: 100%;
        overflow: auto;

        .Chat__contact-item {
          button {
            padding-top: 12px;
            padding-bottom: 12px;
            width: 100%;
            border: none;
            border-bottom: 1px solid #eee;

            &.active {
              background-color: #eee;
              border-right: 2px solid #2AADF7;
              cursor: pointer;
            }

            &:hover {
              background-color: #eee;
              cursor: pointer;
            }

            .Chat__contact-name {
              font-size: 22px;
              font-weight: 500;
              pointer-events: none;
            }

            .Chat__contact-username {
              color: #bbb;
              pointer-events: none;

              &:before {
                content: '@'
              }
            }
          }
        }
      }
    }
  }

  .Chat__active-chat--container {
    width: 85%;
    float: right;
    height: 100%;

    .Chat__active-chat--wrapper {
      height: 100%;
      overflow: auto;
    }

    .ActiveChat__message-history--container {
      margin-bottom: 120px;

      .ActiveChat__message-history--wrapper {
        margin: 10px 30px;
        height: 80%;
        overflow: auto;

        .from-contact {
          text-align: left;
          .balloon {
            margin: 6px 12px;
            display: inline-block;
            padding: 6px 12px;
            border: 1px solid #ddd;
            background-color: #eeee;
            border-radius: 3px;
          }
        }

        .from-myself {
          text-align: right;
          .balloon {
            margin: 6px 12px;
            background-color: rgba(42, 173, 247, 0.1);
            border: 1px solid rgba(42, 173, 247, 0.2);
            display: inline-block;
            padding: 6px 12px;
            border-radius: 3px;
          }
        }

        span.message-body {
          font-weight: 500;
          font-size: 20px;
        }

        span.message-timestamp {
          font-size: 10px;
          color: #888;
        }
      }
    }

    .ActiveChat__new-message--container {
      position: absolute;
      background-color: #2AADF7;
      bottom: 0;
      width: 85%;

      .ActiveChat__new-message--wrapper {
        position: relative;
        margin: auto;
        text-align: center;
        margin: 30px 90px 30px  30px;

        .ActiveChat__new-message--input-container {
          display: inline-block;
          width: 80%;
          position: relative;

          input.ActiveChat__new-message--input {
            width: 100%;
            margin: 5px 10px;
            line-height: 24px;
            font-size: 18px;
            border-radius: 3px;
            padding: 4px 12px;
            border: 1px solid rgba(42, 173, 247, 0.5);
          }
        }

        .ActiveChat__new-message--send {
          display: inline-block;
          width: 10%;
          position: relative;
          top: 8px;

          button#send-message {
            border-radius: 100%;
            padding-top: 8px;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}